%h1 Listing items
#items
  %table
    %thead
      %tr
        %th Name
        %th
        %th
        %th
    %tbody#items_list
      - @items.each do |item|
        = render 'item', item: item
  %br/
  = render 'form'
